# Environments
.env
.env.*
!.env.example
.venv
venv/
*.log

# Python
__pycache__/
*.py[cod]
*$py.class

# Node
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
vite.log
frontend/.env*

# Debugging
debug_row_*.html

backend/data/data.json


