[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pandas = "*"
beautifulsoup4 = "*"
requests = "*"
feedparser = "*"
numpy = "*"
selenium = "*"
webdriver-manager = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.11"
